.triangle-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-170%, 10%);
  rotate: 90deg;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid white;
  cursor: pointer;
}

.circle {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 4px, 6px, 10px, 0 rgba(0, 0, 0, 0.4);
}
