.App {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 50px;
}

.app-title {
  color: var(--brand-dark)
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
}

body{
  background-image: url(./components/Telas_Cabine_fundo-17.png);
  background-size: cover;
}

#navigation {
  margin-bottom: 2rem;
}

#navigation button {
  margin-right: 1rem;
}

#slide {
  border: transparent;
  padding: 1rem;
  min-height: 320px;
  max-height: 800px;
  max-width: 650px;
  min-width: 650px;
  position: absolute;
  top: 250px; left: 120px;
  background-color: transparent;
  box-shadow: none;
}

button {
    min-width: 80px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  position: absolute;
  left: 100px;
  top: 20px;
  height: auto;
}

.teste {
  display: flex;
  flex-direction: row;
}
