.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.app-title {
  color: var(--brand-dark)
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
}



#navigation {
  margin-bottom: 2rem;
}

#navigation button {
  margin-right: 1rem;
}

#slide {
  border: 1px solid #eee;
  padding: 1rem;
  min-height: 300px;
  min-width: 600px;
}

button {
    min-width: 80px;
}
